<<h2>List of movies</h2>
<ul>
  <li *ngFor="let etudiant of etudiants">
    <h2 (click)="EtudiantClicked(etudiant)">{{etudiant.pseudo}}</h2>
  </li>
</ul>
<hr>
Pseudo <input type="text" [(ngModel)]="selectedEtudiant.pseudo"/><br>
Password<input type="text" [(ngModel)]="selectedEtudiant.password"/><br>
<button *ngIf="selectedEtudiant.id != -1" (click)="updateEtudiant()"> Modifier </button>
<button *ngIf="selectedEtudiant.id == -1" (click)="createEtudiant()"> Enregistrer </button>
<button *ngIf="selectedEtudiant.id != -1" (click)="deleteEtudiant()"> Supprimer </button>
